#no-ytb, #ytb-short, #ytb-noshort{
    width: 200px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8c8e8c;
    
}

#logo{
    width: 40%;
    cursor: pointer;

}


#pas-un-short{
    background-color: cyan;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border-radius: 9999px;
    border: 3px black solid;

}

#short{
    background-color: cyan;
    font-weight: bold;
    font-size: 20px;
    border: 3px black solid;
    padding: 20px;
    border-radius: 9999px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Set the transition property for smooth animation */
    margin: 10px
}

#short:hover {
    transform: translateY(-5px); /* Change the X translation value as desired */
}

#ytb-noshort{
    display: flex;
    flex-direction: column;
}

#pas-un-short{
        padding: 10px;
}